coverage/
node_modules/
packages/*/lib/
packages/*/index.js
*.d.ts
*.log
.DS_Store
yarn.lock
!packages/micromark-extension-mdx-expression/dev/index.d.ts
!packages/micromark-util-events-to-acorn/dev/lib/types.d.ts
!packages/micromark-util-events-to-acorn/dev/index.d.ts
!test/types.d.ts
